.default {
    &:not(.project) {
        pointer-events: all;
    }
}

.about .block-slider-photos {
    margin-top: 25vh;
}

@media (max-width: $smartphone) {
    .home {
        position: relative;
        @include z-index(3)
    }

    .about .block-slider-photos {
        margin-top: 5vh;
    }
}