@font-face {
  font-family: 'Compagnon-Roman';
  src:
    url('Compagnon-Roman.woff2') format('woff2'),
    url("Compagnon-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "NHaasGroteskTXPro-55Rg";
    src:
        url("NHaasGroteskTXPro-55Rg.woff") format("woff"),
        url("NHaasGroteskTXPro-55Rg.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}