<link rel="preload" href="/assets/fonts/NHaasGroteskTXPro-55Rg.woff" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/Compagnon-Roman.woff" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/Compagnon-Light.woff" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" type="text/css" href="/assets/fonts/fonts.css">
