<script type="text/javascript">
  const CMS_COLORS = {
    {% for palette in colors[renderData.language] %}
      "{{ palette.name | split(' ','-') | lowercase }}": {
        hex: {{ palette.bg | split('#','0x')}},
        css: "{{ palette.bg }}",
        str: "palette-{{ palette.name | split(' ','-') | lowercase }}"
      },
    {% endfor %}
  }

  const PROJECTS = [
        {% for item in all[renderData.language].projects %}
            {
              id: {{ loop.index }},
              project_id: {{ item.id }},
              title: "{{ item.title.rendered | safe }}",
              url: "{{ item.link | url }}",
              images: [ 
                 {% for image in item.acf.images %}
                 {
                    cover: "{{ image.sizes['@3x'] }}",
                    image: "{{ image.sizes['@1x'] }}",
                    thumb: "{{ image.sizes['thumb_mobile'] }}",
                    width: {{ image.sizes['@1x-width'] }},
                    height: {{ image.sizes['@1x-height'] }},
                  },
                 {% endfor %}
                 ]
            },
        {% endfor %}
  ]

  const IMAGES_PROJECTS = [
        {% for item in all[renderData.language].projects %}
            {% set index = loop.index - 1 %}
            {% for image in item.acf.images %}
            {
              project: {{ index }},
              cover: "{{ image.sizes['@3x'] }}",
              image: "{{ image.sizes['@1x'] }}",
              thumb: "{{ image.sizes['thumb_mobile'] }}",
              width: {{ image.sizes['@1x-width'] }},
              height: {{ image.sizes['@1x-height'] }},
            },
            {% endfor %}            
        {% endfor %}
  ]  
</script>
