<header id="Header">
  {% if renderData.h1 %}
    {% set tag = "h1" %}
  {% else %}
    {% set tag = "div" %}
  {% endif %}
  
  <{{ tag }} class="__title title-with-label header__title">
    <span class="deco __maskedText"><span class="icon"><span></span><span></span></span><span class="mask"></span></span>
    <span class="text">{{ renderData.h1 }}</span>
  </{{ tag }}>
  
  <nav class="header__nav __nav">
    <ul aria-label="Take a look at our RRSS">
      {% if contact[renderData.language].rrss %}
          {% for item in contact[renderData.language].rrss %}
          <li>
              <a class="link-with-mask" href="{{ item.url }}" rel="nofollow" target='_blank' data-masked-link>
                <span class="deco">
                  <span class="icon">{{ item.url | urlico}}</span>
                </span>
                <span class="text"><span>{{ item.text }}<span></span>
              </a>
          </li>
          {% endfor %}
        {% endif %}
        {% for item in menu[renderData.language] %}
          <li>
            {% set activeLink = 'aria-current=page' if page.url === item.url else "" %}
            <a class="link-with-mask --open" href="{{ item.url }}" {{ activeLink }} data-masked-link>
              <span class="deco">
                <span class="icon">{{ item.title | urlico}}</span>
              </span>
              <span class="text"><span>{{ item.title }}<span></span>
            </a>
          </li>
        {% endfor %}
    </ul>
    <span class="mask __mask"></span>
  </nav>
</header>




