<header id="Header">
  <ul aria-label="Take a look at our RRSS">
     {% if contact[renderData.language].rrss %}
        {% for item in contact[renderData.language].rrss %}
        <li>
            <a class="link-with-mask" href="{{ item.url }}" rel="nofollow" target='_blank' data-masked-link>
              <span class="deco">
                <span class="icon">{{ item.url | urlico}}</span>
              </span>
              <span class="text">{{ item.text }}</span>
            </a>
        </li>
        {% endfor %}
      {% endif %}
      {% for item in menu[renderData.language] %}
        <li>
          {% set activeLink = 'aria-current=page' if page.url === item.url else "" %}
          <a class="link-with-mask" href="{{ item.url }}" {{ activeLink }} data-masked-link>
            <span class="deco">
              <span class="icon">{{ item.title | urlico}}</span>
            </span>
            <span class="text">{{ item.title }}</span>
          </a>
        </li>
      {% endfor %}
  </ul>
</header>




