<div id="ProjectsBar" class="projects-bar">
  <a class="__next" href="" aria-label="{{ texts[renderData.language].prev }}">←</a>
  <a class="__back" href="/" aria-label="{{ texts[renderData.language].back }}">x</a>
  <a class="__prev" href="" aria-label="{{ texts[renderData.language].next }}">→</a>
</div>


