{% macro block(data) %}
<section class="billboard-home">
    {% for item in data.headline %}
        {% if item.line.is_especial %}
            <span class="billboard-item --arrow">{{ item.line.text }}<span class="mask"></span></span>
        {% elif item.line.link %}
            <a class="billboard-item link-with-label" href="{{ item.line.link.url }}">
                <span class="deco"><span class="icon">{{ item.line.deco_link }}</span></span>
                <span class="text">{{ item.line.text | decoName | safe }}</span>
                <span class="mask"></span>
            </a>
        {% else %}
            {% set words = item.line.text | splitwords %}
            {% for w in words %}
                {% if w %}
                    <span class="billboard-item">{{ w }}<span class="mask"></span></span>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</section>
{% endmacro %}
