{% import "blocks/billboard_text.njk" as billboard_text with context %}

{% macro block(data) %}
    {{ billboard_text.block(data.headline) }}
    <ul class="block-ul-projects" aria-label="{{ texts[renderData.language].projects_list }}">
        {% for item in all[renderData.language].projects %}
        <li><a href="{{ item.link | url }}">{{ item.title.rendered }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}
                 