{% import "blocks/billboard_text.njk" as billboard_text with context %}

{% macro block(data) %}
    {% set videosList = "" %}
    {% for video in data.videos %}
        {% set videosList = videosList + video.url + "," %}
    {% endfor %}
    <div class="block-visor-videos __blockVideos" data-videos="{{ videosList }}">
        <video muted playsinline webkit-playsinline></video>    
        <video muted playsinline webkit-playsinline></video>                
    </div>

    {{ billboard_text.block(data.headline) }}

    <section id="SliderPhotos" class="block-slider-photos" scroll-item>
        <div class="holder __holder">
            <div class="block-slider-photos__item" scroll-slider-item></div>
            {% for item in data.images %}
                <div class="block-slider-photos__item" scroll-slider-item>
                    <div class="image">
                        {% img item %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section  class="block-contact" scroll-item>
        <div class="panel-grey"></div>
        <div class="panel-black"></div>
        <div class="block-contact__logo" data-scroll-insider data-speed="-1">
            <svg viewBox="0 0 1380 508"><path d="M453.3,298.91H294.15L343,159.82q6-17.38,11.37-36.11t10-34.1q4.67-18.06,9.36-35.45h2q4,17.41,8.69,34.78,4,15.39,9.36,34.1t12,36.78Z"/><path d="M933.42,356.42q0,35.46-22.07,56.17-24.74,24.74-74.89,24.74H684.67V267.48H832.45q44.13,0,72.55,22.07T933.42,356.42Z"/><path d="M914,133.07q0,38.12-24.41,58.51T821.08,212H684.67V58.85H829.1q40.13,0,62.53,19.39T914,133.07Z"/><path d="M1296.52,288.21h-208a167.83,167.83,0,0,1,10.7-44.13,114,114,0,0,1,21.4-34.78,95.73,95.73,0,0,1,32.1-23.07q18.7-8.35,42.79-8.36,46.8,0,72.56,29.09T1296.52,288.21Z"/><path d="M153.63,134.41a99.81,99.81,0,0,0-29.37,14.38Q97.52,167.84,80.8,199.27h-2V134.41Z"/></svg>
        </div>

        <h2 class="title-with-label --show --big-icon">
            <span class="deco"><span class="icon">i</span></span>
            <span class="text"><span class="--relative">Ubicación</span> y contacto</span>
        </h2>
        <div class="block-contact__adress  --relative">
            <a href="https://www.google.com/maps/place/Tr.%C2%AA+Tiboli,+17,+48007+Bilbao,+Vizcaya/@43.2662213,-2.9244295,3a,75y,61.58h,89.59t/data=!3m6!1e1!3m4!1sKbpSM01In_rQ5kXf0f99mg!2e0!7i16384!8i8192!4m5!3m4!1s0xd4e4fc44f607c91:0xf9b04553cef7c531!8m2!3d43.2661865!4d-2.9243256" target="_blank">
            We are at <span class="--grey">Travesia Tiboli</span> <span class="icon-deco"><span class="deco"><span class="icon">№</span></span></span>17 bajo izda Bilbao <span class="icon-deco --quint"><span class="deco"><span class="icon"><span>4</span><span>8</span><span>0</span><span>0</span><span>4</span></span></span></span>
            </a>
        </div>

        <h3 class="title-with-label --show --big-icon">
            <span class="deco"><span class="icon">½</span></span>
            <span class="text">Ane<br>Arce</span>
        </h3>
        <a class="link-with-label --multiline __link" href="mailto:ane@bear-rabe.com">
            <span class="deco"><span class="icon">m</span></span>
            <span class="text">ane@bear-rabe.com</span>
            <span class="mask"></span>
        </a>
        <a class="link-with-label --multiline __link" href="tel:+34600063975">
            <span class="deco"><span class="icon">t</span></span>
            <span class="text">600 063 975</span>
            <span class="mask"></span>
        </a>

        <h3 class="title-with-label --show --big-icon">
            <span class="deco"><span class="icon">½</span></span>
            <span class="text">Iñigo<br>Berasategui</span>
        </h3>
        <a class="link-with-label --multiline __link" href="mailto:ane@bear-rabe.com">
            <span class="deco"><span class="icon">m</span></span>
            <span class="text">iñigo@bear-rabe.com</span>
            <span class="mask"></span>
        </a>
        <a class="link-with-label --multiline __link" href="tel:+34670876847">
            <span class="deco"><span class="icon">t</span></span>
            <span class="text">670 876 847</span>
            <span class="mask"></span>
        </a>
    </section>
{% endmacro %}
                 