//↗ → ← ↖

@mixin title-with-label() {
    --width-deco: var(--font-size);
    --height-deco: calc(var(--font-size) * .9);
    --border-size: clamp(1px, .055em, 20px);
    --color: var(--primary-color);
    --time: .4s;
    --font-size-deco: .5em;

    & .--double {
        --width-deco: calc(var(--font-size) * 2);
    }

    
    @include basic-a();
    position: relative;
    overflow: hidden;
    
    color: var(--color);
    font-size: var(--font-size);
    padding-left: var(--width-deco);
            
    > .deco {
        position: absolute;
        display: block;
        top: .015em;
        left: 0;
        width: var(--width-deco);
        height: var(--height-deco);
        border-bottom: var(--border-size) solid currentColor;  
        background-color: blanchedalmond; 

        .icon {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            top: 0;
            right: 0;
            width: 0;
            height: var(--width-deco); 
            transform: rotate(90deg);
            transform-origin: 100% 0;
            @include font-serif();
            font-size: var(--font-size-deco);
            line-height: 1;
            background-color: aqua
        }
    }

    > .text {
        display: block;
        @include font-sans();
        line-height: .85;
        padding-left: .05em;
        padding-top: 0;
        padding-bottom: .15em;
    }
}

.title-with-label {
    @include title-with-label();
}
