---
renderData:
  language: "{{ data.language }}"
  title: "{{ data.acf.seo.title }}"
  description: "{{ data.acf.seo.description }}"
  image: "{{ data.acf.seo.image.sizes.facebook }}"
  image_twitter: "{{ data.acf.seo.image.sizes.twitter }}"
pagination:
  data: projects
  size: 1
  alias: data
permalink: "{{ data.link }}"
layout: layout/default
---

{% set __page = 'project' %}
{% set __palette = data.acf.options.palette or 'primary' %}

{# {% import "flexible.njk" as FlexibleContent with context %}
{% import "components/header_project.njk" as HeaderProject with context %}
{% import "components/footer_project.njk" as FooterProject with context %}
{% import "components/next_project.njk" as NextProject with context %}
{% import "components/info_project.njk" as InfoProject with context %} #}

<article class='default project' data-page='{{ __page }}' data-palette='{{ __palette }}'>
  <h1>{{ data.title.rendered }}</h1>

  <div class="block-project-info">
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>

    <ul>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
    </ul>

<ul>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
      <li><h2>{{ data.acf.info.type }}</h2></li>
    </ul>





    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>
    <h2>{{ data.acf.info.type }}</h2>
    <h2>{{ data.acf.client.name }}</h2>
    <h2>{{ data.acf.place.name }}</h2>

    <div class="left"></div>

  </div>

  <!-- <ul class="block-ul-projects" aria-label="{{ texts[renderData.language].credits }}">
      {% for item in all[renderData.language].projects %}
      <li><a href="{{ item.link | url }}">{{ item.title.rendered }}</a></li>
      {% endfor %}
  </ul> -->
  

  {# {{ HeaderProject.block(data.title.rendered, data.acf, data.magazine_counter) }}
  {{ InfoProject.block(data.title.rendered, data.acf, __palette) }}
  {{ FlexibleContent.flexible(data.acf.blocks_custom) }}
  {{ FooterProject.block(data.title.rendered, data.acf) }}
  {% set next = utils.getNext(all[renderData.language].projects, data.id) %}
  {{ NextProject.block(next) }} #}
</article>
