---
renderData:
  h1: "{{ data.title.rendered }}"
  id: "{{ data.id }}"
  language: "{{ data.language }}"
  title: "{{ data.acf.seo.title }}"
  description: "{{ data.acf.seo.description }}"
  image: "{{ data.acf.images[0].sizes['facebook'] }}"
  image_twitter: "{{ data.acf.images[0].sizes['facebook'] }}"
  url: "{{ data.link }}"
pagination:
  data: projects
  size: 1
  alias: data
permalink: "{{ data.link }}"
layout: layout/default
---

{% set __page = 'project' %}
{% set __palette = data.acf.options.palette or 'primary' %}

{# {% import "flexible.njk" as FlexibleContent with context %}
{% import "components/header_project.njk" as HeaderProject with context %}

{% import "components/next_project.njk" as NextProject with context %}
{% import "components/info_project.njk" as InfoProject with context %} #}

<article
  class='default project'
  data-page='{{ __page }}'
  data-palette='{{ __palette }}'
  data-project='{{ data.id }}'
  data-next='{{ utils.getNext(all[renderData.language].projects, data.id).id }}'
  data-prev='{{ utils.getPrev(all[renderData.language].projects, data.id).id }}'>

  {% set ratio = data.acf.images[0].sizes['@1x-width']/data.acf.images[0].sizes['@1x-height'] %}
  
  <div class="block-project-cover __imgcover" style="--ratio:{{ ratio }}" scroll-item data-speed=".5">
    <div class="__movable">
      {% for image in data.acf.images %}
        {% img image %}
      {% endfor %}
    </div>
  </div>

  <div class="block-project-info">
    <div class="col-left" scroll-item data-speed="1.1">
      <h2 class="block-project-info__title masked-item __maskedText">{{ data.acf.info.type }}<span class="mask"></span></h2>
      <!-- PROJECT INFO -->
      <ul aria-label="Project info">
        {% if data.acf.client.name %}
        <li class="masked-item __maskedText">
          <span class="label">for</span>
          <a class="link-with-label __link" href="{{ data.acf.client.url }}" target="_blank">
            <span class="deco"><span class="icon">@</span></span>
            <span class="text">{{ data.acf.client.name | split(" ", "_")}}</span>
          </a>
          <span class="mask"></span>
        </li>
        {% endif %}
        {% if data.acf.place.name %}
        <li class="masked-item __maskedText">
          <span class="label">at</span>
          <a class="link-with-label __link" href="{{ data.acf.place.url }}" target="_blank">
            <span class="deco"><span class="icon">@</span></span>
            <span class="text">{{ data.acf.place.name | split(" ", "_")}}</span>
          </a>
          <span class="mask"></span>
        </li>
        {% endif %}
        {% if data.acf.info.state %}
        <li class="masked-item __maskedText">
          <div class="title-with-label --show --double">
            <span class="deco"><span class="icon">{{ data.acf.info.year | labelDeco | safe }}</span></span>
            <span class="text">{{ data.acf.info.state | split(" ", "_")}}</span>
          </div>
          <span class="mask"></span>
        </li>
        {% endif %}
      </ul>
      <!-- PROJECT CREDITS -->
      <ul aria-label="Project credits">
        {% for item in data.acf.credits %}
          <li class="masked-item __maskedText">
          <span class="label">{{ item.label }}</span>
          <a class="link-with-label __link" href="{{ item.url }}" target="_blank">
            <span class="deco"><span class="icon">@</span></span>
            <span class="text">{{ item.name | split(" ", "_")}}</span>
          </a>
          <span class="mask"></span>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-right" scroll-item data-speed="1.1">
      <h2 class="block-project-info__title masked-item __maskedText">FEATURED ON<span class="mask"></span></h2>
      <!-- FEATURED -->
      <ul aria-label="Featured on">
        {% for item in data.acf.featured %}
          <li class="masked-item __maskedText">
            {% if loop.index < 10 %}
              {% set cont = '0' +  loop.index %}
            {% else %}
              {% set cont = '' +  loop.index + ''%}
            {% endif %}
            <a class="block-project-info__a" href="{{ item.url }}" target="_blank">
              <div class="title-with-label --show">
                <span class="deco"><span class="icon">{{ cont | labelDeco | safe }}</span></span>
                <span class="text">{{ item.text }}</span>
              </div>
            </a>
            <span class="mask"></span>
          </li>
        {% endfor %}
      </ul>
    </div>
     {% if data.acf.description %}
      <div class="col-text" scroll-item>
        <div class="block-project-info__description __description">
          {{ data.acf.description | safe }}
        </div>
      </div>
    {% endif %}
  </div>
</article>
