@use "sass:math";

.billboard-home {
    --width: 100%;
    --color: var(--primary-color);
    --bg: transparent;
    --padding: var(--grid);
    --font-size: var(--font-size-l);
}

.billboard-home {
    position: relative;
    padding: var(--padding);

    @include font-sans();
    font-size: var(--font-size);
    line-height: 1;

    color: var(--color);
    background-color: var(--bg);

    > span {
        position: relative;

        > .mask {
            position: absolute;
            top:0;
            left:0;
            width: calc(100% + .1em);
            height: 100%;
            background-color: var(--color);
            transform: scale3d(0,1,1);
        }
    }
}
